# The URL the site will be built for
base_url = "https://tale-zola.netlify.app"

# Use the Tale-Zola theme
theme = "tale-zola"

# The basic information about the site
title = "Tala-Zola"
description = "Tala-Zola is a minimal Zola theme helping you to build a light blog, and you can customise any information of the blog without having to modify the codes of the template."

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to generate a feed file for the site
generate_feed = true

# The filename to use for the feed. Used as the template filename, too.
# Defaults to "atom.xml", which has a built-in template that renders an Atom 1.0 feed.
# There is also a built-in template "rss.xml" that renders an RSS 2.0 feed.
# feed_filename = "atom.xml"

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = false

# The taxonomies to be rendered for the site and their configuration.
taxonomies = [
  {name = "tags", feed = true}, # each tag will have its own feed
]

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true
highlight_theme = "base16-ocean-light"

[extra]
# Basic infomation
author = "Aaran Xu"
github = "https://github.com/aaranxu"
email  = "aaranxu@outlook.com"

# Set date format in the site
timeformat = "%B %e, %Y" # e.g. June 14, 2021

# Whether to support KaTeX globally
katex = false

# Google Analytics
# If using this, add a value like "UA—XXXXXXXX-X"
google_analytics = ""

# Whether to use Disqus globally and set to your disqus id
# or you can enable the disqus on per post page with `extra.disqus` option
disqus = false
disqus_id = ""

## Open Graph + Twitter Cards
[extra.seo]
# this image will be used as fallback if a page has no image of its own
image = "tale.png"
image_height = 0
image_width = 0
og_locale = "en_US"

  [extra.seo.twitter]
  site = "aaranxu"
  creator = "aaranxu"

  [extra.seo.facebook]
  admins = "ichunyun"
  publisher = "ichunyun"
  app_id = ""

  # Webmaster verifications' tokens
  [extra.seo.webmaster]
  google = ""
  bing = ""
  alexa = ""
  yandex = ""
  baidu = ""


# Menu items
[[extra.menu]]
name = "Posts"
url = "/"

[[extra.menu]]
name = "Tags"
url = "tags"

[[extra.menu]]
name = "About"
url = "about"

[extra.footer]
start_year = "2020"  # start year of the site
end_year = "2021"    # end year of the site
info = "Made with <a href=\"https://www.getzola.org\">Zola</a> with <a href=\"https://github.com/aaranxu/tale-zola\">Tala-Zola</a> theme."


# The options below are used to refer to the expressions on the pages, and you
# can custom the contents as needed in your language.
[extra.expressions]
home = "Home"              # The homepage's name
pinned = "Pinned"          # On the header of the post list
written_by = "Written by"  # Like: Written by Aaran Xu
on = "on"                  # Like: on May 3, 2021
top = "Top"                # Go to the top of the page in the post
tags = "Tags"              # In the page of Tags

# disqus comments block
disqus_discussion = "Discussion and feedback"

# The contents of the 404 page
p404 = "404: Page not found"
p404_info = "Oops! We can't seem to find the page you are looking for."
p404_back_home_start = "Let's"
p404_back_home_with_link = "head back home"
p404_back_home_end = "."
