{% extends "base.html" %}



{% block seo -%}
  {{ super() }}

  {%- set home = config.extra.expressions.home | default(value="Home") -%}
  {% set og_title = home -%}

  {% if config.title -%}
  	{% set title = home ~ " | " ~ config.title -%}
  {% else -%}
		{% set title = home -%}
  {% endif -%}
  
  {{ macros::seo(title=title, og_title=og_title, author=author, description=description, site_url=site_url, image=image, image_height=image_height, image_width=image_width) }}
{%- endblock seo %}



{% block content %}
{% if paginator.pages %}
	<div class="catalogue">
		{% for page in paginator.pages -%}
			{{ macros::page(page=page) }}
		{%- endfor %}
	</div>
	<div class="pagination">
		{% if paginator.previous -%}
			<a href="{{ paginator.previous | safe }}" class="left arrow">&#8592;</a>
		{%- endif %}
		{% if paginator.previous or paginator.next -%}
			<span>{{ paginator.current_index }}</span>
		{%- endif %}
		{% if paginator.next -%}
			<a href="{{ paginator.next | safe }}" class="right arrow">&#8594;</a>
		{%- endif %}
	</div>
{% endif %}
{% endblock content %}
